In [1]:
import pandas as pd
import numpy as np


def df_read_csv(local_path):
    df = pd.read_csv(local_path)
    return df


df = df_read_csv('/workspaces/Data/raw/desafio_semana4.csv')
print(df.to_markdown(index=True, stralign='left', numalign='left'))

|    | CustomerID   | EnrollmentDate   | Tier     | TotalPointsEarned   | PointsRedeemed   | NumTransactionsLast90Days   | AvgTransactionValue   | LastPurchaseDate           | ProductCategoryPreference   | CommunicationOptIn   | CustomerFeedbackScore   | ChurnedLoyaltyProgram   | SupportTicketsOpened   |
|:---|:-------------|:-----------------|:---------|:--------------------|:-----------------|:----------------------------|:----------------------|:---------------------------|:----------------------------|:---------------------|:------------------------|:------------------------|:-----------------------|
| 0  | 1001         | 2024-04-16       | Gold     | 165.55              | 2012.97          | 35                          | 466.82                | 2025-05-05 00:00:00.000000 | Home Goods                  | True                 | 2                       | False                   | nan                    |
| 1  | 1002         | 2024-06-20       | Platinum | 1483.73             | 965.47           | 6                           | 195.54                | 2025-06-27 00:00:00.000000 | Electronics                 | True                 | 3                       | False                   | nan                    |
| 2  | 1003         | 2024-05-29       | Silver   | 3873.36             | 1552.9           | 26                          | 137.75                | 2025-06-09 00:00:00.000000 | Home Goods                  | False                | 2                       | False                   | nan                    |
| 3  | 1004         | 2025-01-03       | Bronze   | 431.87              | 1648.18          | 39                          | 306.76                | 2025-05-26 00:00:00.000000 | Food & Beverage             | True                 | 1                       | False                   | nan                    |
| 4  | 1005         | 2025-02-14       | Silver   | 500                 | 0                | 2                           | 50                    | 2025-05-26 00:00:00.000000 | Electronics                 | False                | 3                       | False                   | nan                    |
| 5  | 1006         | 2024-04-29       | Gold     | 3117.96             | 2676.57          | 2                           | 46.49                 | 2025-04-25 00:00:00.000000 | Food & Beverage             | True                 | 1                       | False                   | nan                    |
| 6  | 1007         | 2023-05-15       | Bronze   | 2350.01             | 3419.46          | 14                          | 15.19                 | 2025-06-12 00:00:00.000000 | Electronics                 | True                 | 1                       | False                   | nan                    |
| 7  | 1008         | 2024-08-27       | Silver   | 3374.69             | 3102.35          | 23                          | 102.05                | 2025-05-31 00:00:00.000000 | Home Goods                  | True                 | 4                       | False                   | nan                    |
| 8  | 1009         | 2024-01-13       | Bronze   | 3082.17             | 2319.93          | 1                           | 443.15                | 2025-06-19 00:00:00.000000 | Services                    | True                 | 2                       | False                   | nan                    |
| 9  | 1010         | 2024-04-16       | Bronze   | 4500                | 3500             | 35                          | 450                   | 2025-06-09 00:00:00.000000 | Food & Beverage             | False                | 1                       | False                   | nan                    |
| 10 | 1011         | 2023-12-24       | Gold     | 2342.55             | 446.46           | 31                          | 72.59                 | 2025-06-15 00:00:00.000000 | Home Goods                  | True                 | 1                       | False                   | nan                    |
| 11 | 1012         | 2024-02-17       | Bronze   | 2191.78             | 641.79           | 30                          | 180.51                | 2025-04-28 00:00:00.000000 | Home Goods                  | False                | 1                       | False                   | nan                    |
| 12 | 1013         | 2023-11-29       | Gold     | 3230.34             | 1765.9           | 7                           | 70.56                 | 2025-06-13 00:00:00.000000 | Home Goods                  | False                | 3                       | False                   | nan                    |
| 13 | 1014         | 2024-12-03       | Gold     | 324.12              | 675.89           | 24                          | 212.91                | 2025-05-23 00:00:00.000000 | Services                    | False                | 3                       | False                   | nan                    |
| 14 | 1015         | 2023-12-09       | Gold     | 3800                | 3000             | 20                          | 411.1                 | 2025-07-18 00:00:00.000000 | Home Goods                  | True                 | 1                       | True                    | nan                    |
| 15 | 1016         | 2024-02-29       | Silver   | 4247.1              | 1542.34          | 9                           | 221.81                | 2025-05-22 00:00:00.000000 | Clothing                    | False                | 4                       | True                    | nan                    |
| 16 | 1017         | 2023-09-03       | Gold     | 2457.2              | 1285.92          | 18                          | 345.37                | 2025-06-15 00:00:00.000000 | Electronics                 | False                | 4                       | False                   | nan                    |
| 17 | 1018         | 2024-07-18       | Silver   | 3238.23             | 3871.21          | 20                          | 472.73                | 2025-06-01 00:00:00.000000 | Clothing                    | False                | 2                       | False                   | nan                    |
| 18 | 1019         | 2024-10-21       | Platinum | 2487.5              | 1271.19          | 4                           | 15.8                  | 2025-05-18 00:00:00.000000 | Electronics                 | True                 | 2                       | False                   | nan                    |
| 19 | 1020         | 2024-07-05       | Silver   | 2920.93             | 157.72           | 37                          | 168.24                | 2025-05-18 00:00:00.000000 | Electronics                 | True                 | 1                       | False                   | 5                      |
| 20 | 1021         | 2023-04-15       | Bronze   | 2152.96             | 1974.35          | 26                          | 234.93                | 2025-05-17 00:00:00.000000 | Electronics                 | True                 | 4                       | False                   | nan                    |
| 21 | 1022         | 2025-01-29       | Platinum | 2934.03             | 3011.37          | 26                          | 215.63                | 2025-06-08 00:00:00.000000 | Services                    | True                 | 1                       | False                   | nan                    |
| 22 | 1023         | 2024-04-20       | Gold     | 4890.72             | 2894.5           | 35                          | 23.27                 | 2025-06-01 00:00:00.000000 | Electronics                 | True                 | 4                       | False                   | nan                    |
| 23 | 1024         | 2024-12-19       | Silver   | 3906.77             | 2326.85          | 30                          | 440.3                 | 2025-07-04 00:00:00.000000 | Home Goods                  | False                | 3                       | False                   | nan                    |
| 24 | 1025         | 2024-05-02       | Platinum | 4506.32             | 3419.04          | 34                          | 305.73                | 2025-07-12 00:00:00.000000 | Services                    | True                 | 2                       | False                   | nan                    |
| 25 | 1026         | 2024-02-20       | Silver   | 4656.6              | 169.91           | 16                          | 38.67                 | 2025-05-23 00:00:00.000000 | Home Goods                  | True                 | 4                       | False                   | nan                    |
| 26 | 1027         | 2023-09-09       | Platinum | 1540.42             | 2712.66          | 10                          | 78.35                 | 2025-07-20 00:00:00.000000 | Services                    | True                 | 4                       | False                   | nan                    |
| 27 | 1028         | 2024-12-19       | Platinum | 739.01              | 1166.68          | 37                          | 277.18                | 2025-07-12 00:00:00.000000 | Electronics                 | True                 | 3                       | False                   | nan                    |
| 28 | 1029         | 2024-10-18       | Bronze   | 1229.89             | 3922.4           | 30                          | 169.53                | 2025-07-27 13:41:45.254071 | Electronics                 | True                 | 2                       | False                   | nan                    |
| 29 | 1030         | 2024-12-08       | Gold     | 2647.54             | 1440.14          | 11                          | 277.28                | 2025-05-11 00:00:00.000000 | Clothing                    | False                | 1                       | False                   | nan                    |
| 30 | 1031         | 2024-05-03       | Platinum | 1409.57             | 2189.03          | 24                          | 473.79                | 2025-04-17 00:00:00.000000 | Clothing                    | True                 | 1                       | False                   | nan                    |
| 31 | 1032         | 2023-06-25       | Bronze   | 4162.45             | 1131.86          | 19                          | 132.93                | 2025-06-20 00:00:00.000000 | Home Goods                  | False                | 4                       | False                   | nan                    |
| 32 | 1033         | 2024-09-02       | Platinum | 2179.76             | 585.62           | 31                          | 160.12                | 2025-05-08 00:00:00.000000 | Clothing                    | True                 | 4                       | False                   | nan                    |
| 33 | 1034         | 2024-06-16       | Bronze   | 2958.95             | 2056.15          | 31                          | 126.3                 | 2025-06-04 00:00:00.000000 | Food & Beverage             | True                 | 2                       | False                   | nan                    |
| 34 | 1035         | 2024-09-14       | Silver   | 2266.78             | 1926.06          | 34                          | 474.35                | 2025-06-16 00:00:00.000000 | Clothing                    | True                 | 3                       | False                   | nan                    |
| 35 | 1036         | 2023-10-28       | Silver   | 3642.89             | 61.88            | 13                          | 317.59                | 2025-04-02 00:00:00.000000 | Clothing                    | True                 | 2                       | False                   | nan                    |
| 36 | 1037         | 2024-01-14       | Platinum | 1747.14             | 929              | 20                          | 84.48                 | 2025-07-13 00:00:00.000000 | Clothing                    | True                 | 1                       | False                   | nan                    |
| 37 | 1038         | 2023-10-23       | Gold     | 3046.11             | 2940.26          | 4                           | 472.2                 | 2025-05-19 00:00:00.000000 | Clothing                    | True                 | 3                       | False                   | nan                    |
| 38 | 1039         | 2024-11-04       | Bronze   | 3896.58             | 2776.19          | 9                           | 135.94                | 2025-05-09 00:00:00.000000 | Clothing                    | True                 | 1                       | False                   | nan                    |
| 39 | 1040         | 2024-01-17       | Platinum | 226.29              | 228.99           | 4                           | 279.46                | 2025-05-24 00:00:00.000000 | Home Goods                  | False                | 1                       | False                   | nan                    |
| 40 | 1041         | 2023-04-09       | Silver   | 4421.37             | 1887.56          | 13                          | 44.64                 | 2025-06-17 00:00:00.000000 | Electronics                 | True                 | 1                       | False                   | nan                    |
| 41 | 1042         | 2023-09-16       | Platinum | 628.78              | 2298.64          | 30                          | 63.32                 | 2025-06-07 00:00:00.000000 | Electronics                 | True                 | 2                       | False                   | nan                    |
| 42 | 1043         | 2024-07-13       | Bronze   | 1476.89             | 1127.62          | 33                          | 483.47                | 2025-07-19 00:00:00.000000 | Electronics                 | False                | 2                       | False                   | nan                    |
| 43 | 1044         | 2023-04-04       | Gold     | 3921.45             | 2147.67          | 31                          | 456.23                | 2025-05-30 00:00:00.000000 | Services                    | True                 | 4                       | False                   | nan                    |
| 44 | 1045         | 2025-02-23       | Bronze   | 4812.12             | 3402.23          | 35                          | 239.32                | 2025-06-11 00:00:00.000000 | Home Goods                  | True                 | 4                       | False                   | nan                    |
| 45 | 1046         | 2023-08-07       | Gold     | 4696.24             | 155.52           | 1                           | 46.16                 | 2025-04-22 00:00:00.000000 | Electronics                 | True                 | 4                       | True                    | nan                    |
| 46 | 1047         | 2024-11-23       | Platinum | 3971.18             | 3247.27          | 18                          | 182.36                | 2025-07-18 00:00:00.000000 | Electronics                 | True                 | 1                       | False                   | nan                    |
| 47 | 1048         | 2023-06-11       | Silver   | 4790.3              | 2968.87          | 34                          | 92.44                 | 2025-05-18 00:00:00.000000 | Home Goods                  | False                | 2                       | False                   | nan                    |
| 48 | 1049         | 2023-12-28       | Silver   | 1590.99             | 2138.9           | 36                          | 108.94                | 2025-07-08 00:00:00.000000 | Services                    | True                 | 4                       | False                   | nan                    |
| 49 | 1050         | 2024-11-16       | Silver   | 3892.09             | 683.12           | 18                          | 351.08                | 2025-07-27 13:41:45.254133 | Electronics                 | True                 | 1                       | False                   | nan                    |
| 50 | 1051         | 2025-01-09       | Bronze   | 3643.33             | 2850.97          | 36                          | 127.49                | 2025-06-02 00:00:00.000000 | Home Goods                  | True                 | 1                       | False                   | nan                    |
| 51 | 1052         | 2024-10-07       | Silver   | 2757.55             | 1601.55          | 36                          | 143.41                | 2025-05-18 00:00:00.000000 | Clothing                    | True                 | 3                       | False                   | nan                    |
| 52 | 1053         | 2024-02-09       | Bronze   | 1212.71             | 1993.16          | 24                          | 221.31                | 2025-05-24 00:00:00.000000 | Services                    | True                 | 2                       | False                   | nan                    |
| 53 | 1054         | 2023-07-29       | Bronze   | 3808.42             | 450.49           | 39                          | 442.66                | 2025-04-29 00:00:00.000000 | Services                    | True                 | 3                       | True                    | nan                    |
| 54 | 1055         | 2024-04-29       | Bronze   | 1970.37             | 908.68           | 26                          | 56.93                 | 2025-06-22 00:00:00.000000 | Home Goods                  | True                 | 1                       | False                   | nan                    |
| 55 | 1056         | 2024-06-13       | Bronze   | 4486                | 2422.01          | 11                          | 381.63                | 2025-06-04 00:00:00.000000 | Clothing                    | True                 | 1                       | False                   | nan                    |
| 56 | 1057         | 2024-02-15       | Platinum | 3602.45             | 2780.77          | 26                          | 436.07                | 2025-07-03 00:00:00.000000 | Clothing                    | True                 | 2                       | False                   | nan                    |
| 57 | 1058         | 2023-04-18       | Bronze   | 4095.84             | 3490.02          | 5                           | 255.37                | 2025-06-21 00:00:00.000000 | Home Goods                  | False                | 3                       | False                   | nan                    |
| 58 | 1059         | 2024-03-24       | Gold     | 3145.6              | 101.43           | 9                           | 93.38                 | 2025-06-14 00:00:00.000000 | Services                    | True                 | 2                       | False                   | nan                    |
| 59 | 1060         | 2024-05-14       | Bronze   | 1513.4              | 294.06           | 28                          | 453.96                | 2025-05-21 00:00:00.000000 | Clothing                    | True                 | 1                       | False                   | nan                    |

In [2]:
def trate_nan(df):

    columns_nan = df.columns[df.isna().any()].to_list()

    for col in columns_nan:
        df[col] = df[col].fillna(0)

    return df


def create_date_cols(df, cols):

    for col in cols:
        df[col] = pd.to_datetime(df[col])
        df[col + '_date'] = df[col].dt.date
        df[col + '_weekday'] = df[col].dt.day_name()
    return df

In [3]:
df.columns

Index(['CustomerID', 'EnrollmentDate', 'Tier', 'TotalPointsEarned',
       'PointsRedeemed', 'NumTransactionsLast90Days', 'AvgTransactionValue',
       'LastPurchaseDate', 'ProductCategoryPreference', 'CommunicationOptIn',
       'CustomerFeedbackScore', 'ChurnedLoyaltyProgram',
       'SupportTicketsOpened'],
      dtype='object')

In [4]:
df = create_date_cols(trate_nan(df), ['LastPurchaseDate'])
df.head()

,CustomerID,EnrollmentDate,Tier,TotalPointsEarned,PointsRedeemed,NumTransactionsLast90Days,AvgTransactionValue,LastPurchaseDate,ProductCategoryPreference,CommunicationOptIn,CustomerFeedbackScore,ChurnedLoyaltyProgram,SupportTicketsOpened,LastPurchaseDate_date,LastPurchaseDate_weekday
0,1001,2024-04-16,Gold,165.55,2012.97,35,466.82,2025-05-05,Home Goods,True,2,False,0.0,2025-05-05,Monday
1,1002,2024-06-20,Platinum,1483.73,965.47,6,195.54,2025-06-27,Electronics,True,3,False,0.0,2025-06-27,Friday
2,1003,2024-05-29,Silver,3873.36,1552.90,26,137.75,2025-06-09,Home Goods,False,2,False,0.0,2025-06-09,Monday
3,1004,2025-01-03,Bronze,431.87,1648.18,39,306.76,2025-05-26,Food & Beverage,True,1,False,0.0,2025-05-26,Monday
4,1005,2025-02-14,Silver,500.00,0.00,2,50.00,2025-05-26,Electronics,False,3,False,0.0,2025-05-26,Monday

In [5]:
df_trated = pd.read_csv(
    '/workspaces/Data/processed/desafio_semanal_4_dados_processados.csv')
df_trated.head()

,CustomerID,EnrollmentDate,Tier,TotalPointsEarned,PointsRedeemed,NumTransactionsLast90Days,AvgTransactionValue,LastPurchaseDate,ProductCategoryPreference,CommunicationOptIn,CustomerFeedbackScore,ChurnedLoyaltyProgram,SupportTicketsOpened,LastPurchaseDate_date,LastPurchaseDate_weekday
0,1001,2024-04-16,Gold,165.55,2012.97,35,466.82,2025-05-05 00:00:00.000000,Home Goods,True,2,False,0.0,2025-05-05,Monday
1,1002,2024-06-20,Platinum,1483.73,965.47,6,195.54,2025-06-27 00:00:00.000000,Electronics,True,3,False,0.0,2025-06-27,Friday
2,1003,2024-05-29,Silver,3873.36,1552.90,26,137.75,2025-06-09 00:00:00.000000,Home Goods,False,2,False,0.0,2025-06-09,Monday
3,1004,2025-01-03,Bronze,431.87,1648.18,39,306.76,2025-05-26 00:00:00.000000,Food & Beverage,True,1,False,0.0,2025-05-26,Monday
4,1005,2025-02-14,Silver,500.00,0.00,2,50.00,2025-05-26 00:00:00.000000,Electronics,False,3,False,0.0,2025-05-26,Monday

In [6]:
df_tier = df_trated.copy()
df_tier['qtd_users'] = df_tier['Tier'].value_counts()

df_tier_group = df_tier.groupby('Tier').agg({'CustomerID': 'count',
                                             'TotalPointsEarned': 'mean',
                                             'PointsRedeemed': 'mean',
                                             'NumTransactionsLast90Days': 'mean'}).rename(columns={'CustomerID':
                                                                                                   'QtdUsers'}).reset_index()
print(df_tier_group.to_markdown(index=False, numalign='left', stralign='left'))

| Tier     | QtdUsers   | TotalPointsEarned   | PointsRedeemed   | NumTransactionsLast90Days   |
|:---------|:-----------|:--------------------|:-----------------|:----------------------------|
| Bronze   | 19         | 2840.83             | 2122.61          | 24.7895                     |
| Gold     | 13         | 2906.57             | 1657.17          | 17.5385                     |
| Platinum | 13         | 2112.01             | 1908.13          | 20.7692                     |
| Silver   | 15         | 3338.64             | 1599.41          | 23.1333                     |

In [7]:
import dataframe_image as dfi

df_style = df_tier_group.style.set_table_styles([{'selector': 'tr:nth-child(even)',
                                                  'props': [('background-color', "#36772E")]}]).hide().format(precision=2, thousands='.', decimal=',').set_caption('<h3>Relação de usuários por Tier</h3>')


dfi.export(df_style, '/workspaces/outputs/figures/questao01_tabela.png',
           table_conversion='matplotlib')
df_style

## Questão 2

In [8]:
df_churn = df[df['ChurnedLoyaltyProgram'] == True]
print(df_churn.to_markdown(index=False, numalign='left', stralign='left'))
print(f" Total de Usuários churnados: {df_churn['CustomerID'].count()}")
for cols in df_churn[['TotalPointsEarned', 'PointsRedeemed']].columns:
    print(f"Média de {cols}: {df_churn[cols].mean().round(2)}")

| CustomerID   | EnrollmentDate   | Tier   | TotalPointsEarned   | PointsRedeemed   | NumTransactionsLast90Days   | AvgTransactionValue   | LastPurchaseDate    | ProductCategoryPreference   | CommunicationOptIn   | CustomerFeedbackScore   | ChurnedLoyaltyProgram   | SupportTicketsOpened   | LastPurchaseDate_date   | LastPurchaseDate_weekday   |
|:-------------|:-----------------|:-------|:--------------------|:-----------------|:----------------------------|:----------------------|:--------------------|:----------------------------|:---------------------|:------------------------|:------------------------|:-----------------------|:------------------------|:---------------------------|
| 1015         | 2023-12-09       | Gold   | 3800                | 3000             | 20                          | 411.1                 | 2025-07-18 00:00:00 | Home Goods                  | True                 | 1                       | True                    | 0                      | 2025-07-18              | Friday                     |
| 1016         | 2024-02-29       | Silver | 4247.1              | 1542.34          | 9                           | 221.81                | 2025-05-22 00:00:00 | Clothing                    | False                | 4                       | True                    | 0                      | 2025-05-22              | Thursday                   |
| 1046         | 2023-08-07       | Gold   | 4696.24             | 155.52           | 1                           | 46.16                 | 2025-04-22 00:00:00 | Electronics                 | True                 | 4                       | True                    | 0                      | 2025-04-22              | Tuesday                    |
| 1054         | 2023-07-29       | Bronze | 3808.42             | 450.49           | 39                          | 442.66                | 2025-04-29 00:00:00 | Services                    | True                 | 3                       | True                    | 0                      | 2025-04-29              | Tuesday                    |
 Total de Usuários churnados: 4
Média de TotalPointsEarned: 4137.94
Média de PointsRedeemed: 1287.09

## Questão 3

In [9]:
df_trated['PR_first_quartil'] = df_trated.groupby('Tier')['PointsRedeemed'].transform('quantile',0.25)
set_tier = ['Silver', 'Gold']
df_low_first_quantile = df_trated[(df_trated['Tier'].isin(set_tier)) & 
                                  (df_trated['PointsRedeemed'] < df_trated['PR_first_quartil'])]
print(df_low_first_quantile['CustomerID'].unique())
print(df_low_first_quantile['AvgTransactionValue'].mean())
print(df_low_first_quantile['NumTransactionsLast90Days'].mean())

[1005 1011 1020 1026 1036 1046 1059]
112.37571428571428
15.571428571428571

### Questão 4

In [10]:
df_trated['AvgRedeemed'] = df_trated['PointsRedeemed'] / df_trated['TotalPointsEarned']
avg_redeemed_geral = df_trated['AvgRedeemed'].mean()
avg_redeemed_quartil_10 = df_trated['AvgRedeemed'].quantile(0.10)
agv_trans_quartil_75 = df_trated['AvgTransactionValue'].quantile(0.75)
df_low_redeemed = df_trated.copy()[(df_trated['AvgRedeemed'] < avg_redeemed_quartil_10) & 
                                   (df_trated['AvgTransactionValue'] > agv_trans_quartil_75)]
print(f'Proporção geral de resgate é de : {avg_redeemed_geral.round(2)}')
print(f' O 10º percentil geral de resgate é de: {avg_redeemed_quartil_10.round(2)}')
print(f' O 75º percentil geral de média de valor transcionado é de: {agv_trans_quartil_75.round(2)}')
print(df_low_redeemed.to_markdown(index=False, numalign='left', stralign='left'))

Proporção geral de resgate é de : 1.02
 O 10º percentil geral de resgate é de: 0.11
 O 75º percentil geral de média de valor transcionado é de: 358.72
| CustomerID   | EnrollmentDate   | Tier   | TotalPointsEarned   | PointsRedeemed   | NumTransactionsLast90Days   | AvgTransactionValue   | LastPurchaseDate   | ProductCategoryPreference   | CommunicationOptIn   | CustomerFeedbackScore   | ChurnedLoyaltyProgram   | SupportTicketsOpened   | LastPurchaseDate_date   | LastPurchaseDate_weekday   | PR_first_quartil   | AvgRedeemed   |
|--------------|------------------|--------|---------------------|------------------|-----------------------------|-----------------------|--------------------|-----------------------------|----------------------|-------------------------|-------------------------|------------------------|-------------------------|----------------------------|--------------------|---------------|

### Questão 05

In [11]:
df_trated.columns

Index(['CustomerID', 'EnrollmentDate', 'Tier', 'TotalPointsEarned',
       'PointsRedeemed', 'NumTransactionsLast90Days', 'AvgTransactionValue',
       'LastPurchaseDate', 'ProductCategoryPreference', 'CommunicationOptIn',
       'CustomerFeedbackScore', 'ChurnedLoyaltyProgram',
       'SupportTicketsOpened', 'LastPurchaseDate_date',
       'LastPurchaseDate_weekday', 'PR_first_quartil', 'AvgRedeemed'],
      dtype='object')

In [20]:
conditions = [(df_trated['CustomerFeedbackScore'] < 3),
              (df_trated['CustomerFeedbackScore'] == 3),
              (df_trated['CustomerFeedbackScore'] > 3)]
choice = ['negativo', 'neutro', 'positivo']

df_trated['CustomerFedbackClass'] = np.select(condlist=conditions, choicelist=choice, default='nonType')

df_churn_feedbacks = df_trated[df_trated['ChurnedLoyaltyProgram'] == True].groupby('CustomerFedbackClass').agg({
                                                        'CustomerID': 'count'}).reset_index()
df_churn_feedbacks['customerID%'] = df_churn_feedbacks['CustomerID'] / df_churn_feedbacks['CustomerID'].sum() 
print(df_churn_feedbacks.to_markdown(index= False, stralign='left', numalign='left'))

| CustomerFedbackClass   | CustomerID   | customerID%   |
|:-----------------------|:-------------|:--------------|
| negativo               | 1            | 0.25          |
| neutro                 | 1            | 0.25          |
| positivo               | 2            | 0.5           |

In [28]:
churned_series_classification = df_trated.groupby('CustomerFedbackClass')['ChurnedLoyaltyProgram']\
                                .value_counts(normalize=True).reset_index().rename(columns={'proportion': 'churn_rate'})
churned_series_classification.loc[(churned_series_classification['ChurnedLoyaltyProgram'] ==False)].round(2)

  CustomerFedbackClass  ChurnedLoyaltyProgram  churn_rate
0             negativo                  False        0.97
2               neutro                  False        0.91
4             positivo                  False        0.85

In [13]:
trans_mean_series = df_trated.groupby('Tier')['NumTransactionsLast90Days'].transform('mean')

df_bad_feed = df_trated.loc[(df_trated['ChurnedLoyaltyProgram'] ==False) & 
                            (df_trated['NumTransactionsLast90Days'] >trans_mean_series) &
                            (df_trated['CustomerFedbackClass'] == 'negativo'), ['CustomerID', 'Tier',
                                                                                'ChurnedLoyaltyProgram','CustomerFedbackClass',
                                                                                'NumTransactionsLast90Days']]\
                                                                                    .copy().reset_index(drop=True)
df_bad_feed.head(100)

,CustomerID,Tier,ChurnedLoyaltyProgram,CustomerFedbackClass,NumTransactionsLast90Days
0,1001,Gold,False,negativo,35
1,1003,Silver,False,negativo,26
2,1004,Bronze,False,negativo,39
3,1010,Bronze,False,negativo,35
4,1011,Gold,False,negativo,31
5,1012,Bronze,False,negativo,30
6,1020,Silver,False,negativo,37
7,1022,Platinum,False,negativo,26
8,1025,Platinum,False,negativo,34
9,1029,Bronze,False,negativo,30
10,1031,Platinum,False,negativo,24
11,1034,Bronze,False,negativo,31
12,1042,Platinum,False,negativo,30
13,1043,Bronze,False,negativo,33
14,1048,Silver,False,negativo,34
15,1051,Bronze,False,negativo,36
16,1055,Bronze,False,negativo,26
17,1057,Platinum,False,negativo,26
18,1060,Bronze,False,negativo,28